.vscode
.snakemake

# Byte-compiled / optimized / DLL files
ukbproject/__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Distribution / packaging
*.egg-info/
*.egg

rosalind-env
fields.ukb
